
body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #1c2531;
  border-radius: 8px;
  height: 10%;
  width: 35%;
  margin: 2% auto;
  padding: 0px 30px 0px 30px;
}
.pass-generator {
  margin-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  border-bottom: 1px #e7eaea solid;
}
.heading {
  color: #e7eaea;
  font-size: 4vw;
  margin-bottom: 0px;
}
.sub-heading {
  margin-top: 0px;
  color: #48d780;
  font-size: 4vw;
  margin-bottom: 2%;
}
.para-heading {
  color: #888e9a;
  margin-top: 0px;
  font-size: 2vw;
}
.btn {
  margin-top: 10%;
  background-color: #13b175;
  border: none;
  font-size: 1vw;
  padding: 2% 4%;
  width: 30%;
  height: 15%;
  color: #affade;
  border-radius: 4px;
  cursor: pointer;
}
.pass-con {
  display: flex;
  margin: 3% 0 0 0;
  justify-content: center;
  padding: 4px;
  border-radius: 2px;
}
.pass {
  color: #67a68e;
  background-color: #232e41;
  width: 80%;
  height: 50%;
  margin: 0px 10%;
  padding: 2% 5% 2% 5%;
  font-size: 1.5vw;
}
.copy-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

#copied-pass {
  color: #67a68e;
  background-color: #232e41;
  border: 1px solid #67a68e;
  padding: 3% 10%;
  font-size: 1.5vw;

}
.pass:hover {
  cursor: pointer;
  background-color: #2c3a52;
  transform: scale(1.05);
  transition: 0.2s;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
  
}
.slider{
  color: #67a68e;
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
  justify-content: center;
 
}
label {
  font-size: 1.5vw;
  color: #67a68e;
  margin-bottom: 5px;
}
#length-slider {
  width: 15vw;
  margin-top: 2%;
  background-color: #48d780;
}
@media (max-width:650px) {
  .container {
  background-color: #1c2531;
  border-radius: 8px;
  height: 60%;
  width: 80%;
  margin: 10% auto;
  padding: 0px 30px 0px 30px;
}
}